.reveal {
  transition: $dload-transition-speed $dload-transition;
  transition-property: opacity, transform;
}

.reveal--fade {
  opacity: 0;

  &.lazy-loaded {
    opacity: 1;
  }
}

.reveal--up { 
  transform: translateY($dload-transform-value);

  &.lazy-loaded {
    transform: translateY(0);
  }
}

.reveal--right { 
  transform: translateX(-$dload-transform-value);

  &.lazy-loaded {
    transform: translateX(0);
  }
}

.reveal--left { 
  transform: translateX($dload-transform-value);

  &.lazy-loaded {
    transform: translateX(0);
  }
}

@each $val in $dload-delays {
  .reveal--#{$val} {
    transition-delay: #{$val}ms;
  }
}