$cubic: cubic-bezier(0.165, 0.84, 0.44, 1);
/*
  * Some global styles
*/

*{
  box-sizing: border-box; 
}

body{
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: $f-body;
}

//  Avoid faux bold on headers
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: inherit;
  font-family: 'Heebo-Bold';
}

p{
  font-weight: 300;
}

a{
  transition: $s-fast color $cubic;
}

$delays: 100 300 600 900;

.reveal {
  transition: .6s $cubic;
  transition-property: opacity, transform;
}

.reveal--fade {
  opacity: 0;

  &.lazy-loaded {
    opacity: 1;
  }
}

.reveal--up { 
  transform: translateY(40px);

  &.lazy-loaded {
    transform: translateY(0);
  }
}

.reveal--right { 
  transform: translateX(-40px);

  &.lazy-loaded {
    transform: translateX(0);
  }
}

.reveal--left { 
  transform: translateX(40px);

  &.lazy-loaded {
    transform: translateX(0);
  }
}

@each $val in $delays {
  .reveal--#{$val} {
    transition-delay: #{$val}ms;
  }
}