// Transition types
$transition: cubic-bezier(0.165, 0.84, 0.44, 1) !default;
$transform-value: 40px;

// Transition speeds
$s-fast: 125ms;
$s-medium: 250ms;
$s-slow: 600ms;

// Delay arrays;
$delays: 100 300 600 900;

.reveal {
  transition: .6s $transition;
  transition-property: opacity, transform;
}

.reveal--fade {
  opacity: 0;

  &.lazy-loaded {
    opacity: 1;
  }
}

.reveal--up { 
  transform: translateY($transform-value);

  &.lazy-loaded {
    transform: translateY(0);
  }
}

.reveal--right { 
  transform: translateX(-$transform-value);

  &.lazy-loaded {
    transform: translateX(0);
  }
}

.reveal--left { 
  transform: translateX($transform-value);

  &.lazy-loaded {
    transform: translateX(0);
  }
}

@each $val in $delays {
  .reveal--#{$val} {
    transition-delay: #{$val}ms;
  }
}